redis
configparser
numpy
scipy
mido
pyserial
python-osc # for Python >= 3.6
pyqtgraph
matplotlib
fuzzywuzzy[speedup]
nilearn
sklearn
neurokit
paho-mqtt
pyqtgraph==0.12.*
scipy
termcolor
colorama
pylsl